body.dark {
    background: rgb(19, 19, 19);
    color: white;
}
body.dark .target.dark{
    display: none;
}

.target.light{
    display: none;
}
body.dark .target.light{
    display: inherit;
}
body.dark div#hanging-icons .card {
    background: #1c1c1c !important;
}
body.dark h6{
    background: #dadada !important; 
}
body.dark h3 {
    color: #a9a9a9 !important;
}
@media(max-width:767px){

    .navbar-collapse {
        position: fixed !important;
        width: 100%;
        left: 0;
        z-index: 999;
        background: #eee;
        top: 0;
        padding: 22px;
        height: 100%;
    }

    ul.navbar-nav li {
        margin: 10px 0;
        font-size: 20px;
    }
}
 